@{
       ViewData["Title"] = "Chybička se vloudila :(";
}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Ajéje</span> Tento produkt jsme nenašli</p>
        <p class="lead">
           Tato stránka neexistuje, produkt chybí nebo se vyskytla nějaká chyba.<br />
        </p>
        <a asp-action="Index" class="btn btn-primary">Domů</a>
    </div>
</div>